In [63]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_excel(r'C:\Users\AV KALI PRANAV\Desktop\Data Analysis Proof\IPL Dataset 2021\ipl_2021_dataset.xlsx', sheet_name='ipl_2021_dataset')

In [3]:
df

,Unnamed: 0,Player,Base Price,TYPE,COST IN â‚¹ (CR.),Cost IN $ (000),2021 Squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.00,1950.00,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.00,1950.00,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.00,1300.00,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.00,1170.00,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,8.00,1040.00,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [4]:
"""
objectives: 
1) change the first column name to jersey number
2) seperate list of unsold players from data
3) remove rows with empty data
4) adding columns called cost_INR_full and cost_USD_full with all digits
5) delete the columns [cost_INR] [cost_USD]
6) create new column [cost_AUD]
7) top 10 players from csk based on price
8) jersey numbers of the top 10 players based on the auction price
9) list all allrounders from type
10) players list based and their SQAD
11) replace the jersey number for "dhoni" in csk team.
12) Display entire details of a particular player based on the row index
"""

'\nobjectives: \n1) change the first column name to jersey number\n2) seperate list of unsold players from data\n3) remove rows with empty data\n4) adding columns called cost_INR_full and cost_USD_full with all digits\n5) delete the columns [cost_INR] [cost_USD]\n6) create new column [cost_AUD]\n7) top 10 players from csk based on price\n8) jersey numbers of the top 10 players based on the auction price\n9) list all allrounders from type\n10) players list based and their SQAD\n'

In [5]:
df = df.rename(columns={'Unnamed: 0': 'jersey_number', 'Base Price': 'base_price', 'COST IN â‚¹ (CR.)': 'cost_INR', 'Cost IN $ (000)': 'cost_USD', '2021 Squad': '2021_squad'  })
df_backup = df.copy()

In [6]:
df_backup

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.00,1950.00,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.00,1950.00,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.00,1300.00,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.00,1170.00,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,8.00,1040.00,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [7]:
# here we have removed the NAN values from the table by assigning it to the new variable so that the actual data remains same
df_no_nan = df.dropna()

In [8]:
df_no_nan

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.00,1950.00,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.00,1950.00,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.00,1300.00,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.00,1170.00,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,8.00,1040.00,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
228,228,Glenn Phillips,1.5 Cr,WICKETKEEPER,1.50,195.00,RR,Sunrisers Hyderabad
229,229,Shreyas Gopal,20 Lakh,BOWLER,0.75,97.50,RR,Sunrisers Hyderabad
230,230,Vishnu Vinod,20 Lakh,WICKETKEEPER,0.50,65.00,DC,Sunrisers Hyderabad
232,232,Priyam Garg,20 Lakh,BATTER,0.20,26.00,SRH,Sunrisers Hyderabad
234,234,Jagadeesha Suchith,20 Lakh,BOWLER,0.20,26.00,SRH,Sunrisers Hyderabad

In [9]:
#this is how you get the single row from the set of rows
df[df["Player"] =="Rashid Khan"]

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.00,1950.00,SRH,Gujarat Titans

In [10]:
# here we are passing multiple arguments to get the all rounder players from the KKR squad whose team is Kolkata Knight Riders
df[(df["2021_squad"]=="KKR") & (df["jersey_number"]>75) & (df["Team"]!="Unsold") & (df["Team"]=="Kolkata Knight Riders")]

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
76,76,Pat Cummins,2 Cr,ALL-ROUNDER,7.25,942.50,KKR,Kolkata Knight Riders
77,77,Shivam Mavi,40 Lakh,ALL-ROUNDER,7.25,942.50,KKR,Kolkata Knight Riders
78,78,Sunil Narine,Retained,ALL-ROUNDER,6.00,780.00,KKR,Kolkata Knight Riders
81,81,Tim Southee,1.5 Cr,BOWLER,1.50,195.00,KKR,Kolkata Knight Riders
85,85,Sheldon Jackson,30 Lakh,WICKETKEEPER,0.60,78.00,KKR,Kolkata Knight Riders

In [11]:
unsold = df[df["Team"]=="Unsold"]
unsold

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
237,237,Suresh Raina,2 Cr,BATTER,NaN,NaN,CSK,Unsold
238,238,Steve Smith,2 Cr,BATTER,NaN,NaN,DC,Unsold
239,239,Shakib Al Hasan,2 Cr,ALL-ROUNDER,NaN,NaN,KKR,Unsold
240,240,Amit Mishra,1.5 Cr,BOWLER,NaN,NaN,DC,Unsold
241,241,Adil Rashid,2 Cr,BOWLER,NaN,NaN,PBKS,Unsold
...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [12]:
conv = df['cost_INR'] * 10000000

In [13]:
conv

0     150000000.00
1     150000000.00
2     100000000.00
3      90000000.00
4      80000000.00
          ...
628            NaN
629            NaN
630            NaN
631            NaN
632            NaN
Name: cost_INR, Length: 633, dtype: float64

In [14]:
df

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.00,1950.00,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.00,1950.00,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.00,1300.00,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.00,1170.00,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,8.00,1040.00,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [15]:
 df['cost_INR'] * 10000000

0     150000000.00
1     150000000.00
2     100000000.00
3      90000000.00
4      80000000.00
          ...
628            NaN
629            NaN
630            NaN
631            NaN
632            NaN
Name: cost_INR, Length: 633, dtype: float64

In [16]:
#here we are converting the cost_INR to full figures
df['cost_INR'] = df['cost_INR'] * 10000000

In [17]:
df

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,150000000.00,1950.00,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,150000000.00,1950.00,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,100000000.00,1300.00,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,90000000.00,1170.00,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,80000000.00,1040.00,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [18]:
df['cost_USD'] = df['cost_USD'] * 1000000

In [19]:
df

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,150000000.00,1950000000.00,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,150000000.00,1950000000.00,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,100000000.00,1300000000.00,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,90000000.00,1170000000.00,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,80000000.00,1040000000.00,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [20]:
# here we are creating the new column
df['cost_USD_test'] = df['cost_USD'] * 1000000

In [21]:
df

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team,cost_USD_test
0,0,Rashid Khan,Draft Pick,BOWLER,150000000.00,1950000000.00,SRH,Gujarat Titans,1950000000000000.00
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,150000000.00,1950000000.00,MI,Gujarat Titans,1950000000000000.00
2,2,Lockie Ferguson,2 Cr,BOWLER,100000000.00,1300000000.00,KKR,Gujarat Titans,1300000000000000.00
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,90000000.00,1170000000.00,RR,Gujarat Titans,1170000000000000.00
4,4,Shubman Gill,Draft Pick,BATTER,80000000.00,1040000000.00,KKR,Gujarat Titans,1040000000000000.00
...,...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold,NaN
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold,NaN
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold,NaN
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold,NaN
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold,NaN

In [22]:
# delete the column
del df['cost_USD_test']

In [23]:
df

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,150000000.00,1950000000.00,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,150000000.00,1950000000.00,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,100000000.00,1300000000.00,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,90000000.00,1170000000.00,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,80000000.00,1040000000.00,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [35]:
df_no_nan = df.dropna()
df_no_nan

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,150000000.00,1950000000.00,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,150000000.00,1950000000.00,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,100000000.00,1300000000.00,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,90000000.00,1170000000.00,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,80000000.00,1040000000.00,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
228,228,Glenn Phillips,1.5 Cr,WICKETKEEPER,15000000.00,195000000.00,RR,Sunrisers Hyderabad
229,229,Shreyas Gopal,20 Lakh,BOWLER,7500000.00,97500000.00,RR,Sunrisers Hyderabad
230,230,Vishnu Vinod,20 Lakh,WICKETKEEPER,5000000.00,65000000.00,DC,Sunrisers Hyderabad
232,232,Priyam Garg,20 Lakh,BATTER,2000000.00,26000000.00,SRH,Sunrisers Hyderabad
234,234,Jagadeesha Suchith,20 Lakh,BOWLER,2000000.00,26000000.00,SRH,Sunrisers Hyderabad

In [33]:
df_no_nan.sort_values(["cost_INR"],ascending=False)

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
121,121,KL Rahul,Draft Pick,WICKETKEEPER,170000000.00,2210000000.00,PBKS,Lucknow Super Giants
22,22,Ravindra Jadeja,Retained,ALL-ROUNDER,160000000.00,2080000000.00,CSK,Chennai Super Kings
47,47,Rishabh Pant,Retained,WICKETKEEPER,160000000.00,2080000000.00,DC,Delhi Capitals
143,143,Rohit Sharma,Retained,BATTER,160000000.00,2080000000.00,MI,Mumbai Indians
144,144,Ishan Kishan,2 Cr,WICKETKEEPER,152500000.00,1982500000.00,MI,Mumbai Indians
...,...,...,...,...,...,...,...,...
40,40,Simarjeet Singh,20 Lakh,BOWLER,2000000.00,26000000.00,MI,Chennai Super Kings
39,39,K.Bhagath Varma,20 Lakh,ALL-ROUNDER,2000000.00,26000000.00,CSK,Chennai Super Kings
20,20,Darshan Nalkande,20 Lakh,ALL-ROUNDER,2000000.00,26000000.00,PBKS,Gujarat Titans
232,232,Priyam Garg,20 Lakh,BATTER,2000000.00,26000000.00,SRH,Sunrisers Hyderabad
234,234,Jagadeesha Suchith,20 Lakh,BOWLER,2000000.00,26000000.00,SRH,Sunrisers Hyderabad

In [36]:
# here I have listed top 10 players in csk as per their auction price
df_no_nan[(df_no_nan["2021_squad"]=="CSK") & (df_no_nan["Team"]=="Chennai Super Kings")].sort_values(['cost_INR'], ascending=False)

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
22,22,Ravindra Jadeja,Retained,ALL-ROUNDER,160000000.00,2080000000.00,CSK,Chennai Super Kings
23,23,Deepak Chahar,2 Cr,BOWLER,140000000.00,1820000000.00,CSK,Chennai Super Kings
24,24,MS Dhoni,Retained,WICKETKEEPER,120000000.00,1560000000.00,CSK,Chennai Super Kings
25,25,Moeen Ali,Retained,ALL-ROUNDER,80000000.00,1040000000.00,CSK,Chennai Super Kings
26,26,Ambati Rayudu,2 Cr,WICKETKEEPER,67500000.00,877500000.00,CSK,Chennai Super Kings
27,27,Ruturaj Gaikwad,Retained,BATTER,60000000.00,780000000.00,CSK,Chennai Super Kings
28,28,Dwayne Bravo,2 Cr,ALL-ROUNDER,44000000.00,572000000.00,CSK,Chennai Super Kings
31,31,Robin Uthappa,2 Cr,BATTER,20000000.00,260000000.00,CSK,Chennai Super Kings
32,32,Mitchell Santner,1 Cr,ALL-ROUNDER,19000000.00,247000000.00,CSK,Chennai Super Kings
39,39,K.Bhagath Varma,20 Lakh,ALL-ROUNDER,2000000.00,26000000.00,CSK,Chennai Super Kings
41,41,N. Jagadeesan,20 Lakh,WICKETKEEPER,2000000.00,26000000.00,CSK,Chennai Super Kings
42,42,C.Hari Nishaanth,20 Lakh,BATTER,2000000.00,26000000.00,CSK,Chennai Super Kings
43,43,K.M. Asif,20 Lakh,BOWLER,2000000.00,26000000.00,CSK,Chennai Super Kings

In [47]:
# jersey numbers of the top 10 players based on the auction price
#df_no_nan['cost_INR'].nlargest(n=10)
df_no_nan[['jersey_number', 'cost_INR']].sort_values(['cost_INR'], ascending=False).head(10)

     jersey_number     cost_INR
121            121 170000000.00
22              22 160000000.00
47              47 160000000.00
143            143 160000000.00
144            144 152500000.00
1                1 150000000.00
0                0 150000000.00
168            168 150000000.00
214            214 140000000.00
190            190 140000000.00

In [28]:
#here we have all the allrounders list
df_no_nan[df_no_nan["TYPE"] =="ALL-ROUNDER"]

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.00,1950.00,MI,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.00,1170.00,RR,Gujarat Titans
14,14,Jayant Yadav,1 Cr,ALL-ROUNDER,1.70,221.00,MI,Gujarat Titans
15,15,Vijay Shankar,50 Lakh,ALL-ROUNDER,1.40,182.00,SRH,Gujarat Titans
16,16,Dominic Drakes,75 Lakh,ALL-ROUNDER,1.10,143.00,CSK,Gujarat Titans
18,18,Gurkeerat Singh,50 Lakh,ALL-ROUNDER,0.50,65.00,KKR,Gujarat Titans
20,20,Darshan Nalkande,20 Lakh,ALL-ROUNDER,0.20,26.00,PBKS,Gujarat Titans
22,22,Ravindra Jadeja,Retained,ALL-ROUNDER,16.00,2080.00,CSK,Chennai Super Kings
25,25,Moeen Ali,Retained,ALL-ROUNDER,8.00,1040.00,CSK,Chennai Super Kings
28,28,Dwayne Bravo,2 Cr,ALL-ROUNDER,4.40,572.00,CSK,Chennai Super Kings
29,29,Shivam Dube,50 Lakh,ALL-ROUNDER,4.00,520.00,RR,Chennai Super Kings
30,30,Chris Jordan,2 Cr,ALL-ROUNDER,3.60,468.00,PBKS,Chennai Super Kings
32,32,Mitchell Santner,1 Cr,ALL-ROUNDER,1.90,247.00,CSK,Chennai Super Kings
39,39,K.Bhagath Varma,20 Lakh,ALL-ROUNDER,0.20,26.00,CSK,Chennai Super Kings
49,49,Axar Patel,Retained,ALL-ROUNDER,9.00,1170.00,DC,Delhi Capitals
60,60,Kamlesh Nagarkoti,40 Lakh,ALL-ROUNDER,1.10,143.00,KKR,Delhi Capitals
62,62,Lalit Yadav,20 Lakh,ALL-ROUNDER,0.65,84.50,DC,Delhi Capitals
64,64,Pravin Dubey,20 Lakh,ALL-ROUNDER,0.50,65.00,DC,Delhi Capitals
68,68,Sarfaraz Khan,20 Lakh,ALL-ROUNDER,0.20,26.00,PBKS,Delhi Capitals
69,69,Ripal Patel,20 Lakh,ALL-ROUNDER,0.20,26.00,DC,Delhi Capitals
72,72,Andre Russell,Retained,ALL-ROUNDER,12.00,1560.00,KKR,Kolkata Knight Riders
73,73,Nitish Rana,1 Cr,ALL-ROUNDER,8.00,1040.00,KKR,Kolkata Knight Riders
74,74,Venkatesh Iyer,Retained,ALL-ROUNDER,8.00,1040.00,KKR,Kolkata Knight Riders
76,76,Pat Cummins,2 Cr,ALL-ROUNDER,7.25,942.50,KKR,Kolkata Knight Riders
77,77,Shivam Mavi,40 Lakh,ALL-ROUNDER,7.25,942.50,KKR,Kolkata Knight Riders
78,78,Sunil Narine,Retained,ALL-ROUNDER,6.00,780.00,KKR,Kolkata Knight Riders
84,84,Mohammad Nabi,1 Cr,ALL-ROUNDER,1.00,130.00,SRH,Kolkata Knight Riders
91,91,Anukul Roy,20 Lakh,ALL-ROUNDER,0.20,26.00,MI,Kolkata Knight Riders
97,97,Liam Livingstone,1 Cr,ALL-ROUNDER,11.50,1495.00,RR,Punjab Kings
99,99,Shahrukh Khan,40 Lakh,ALL-ROUNDER,9.00,1170.00,PBKS,Punjab Kings
105,105,Harpreet Brar,20 Lakh,ALL-ROUNDER,3.80,494.00,PBKS,Punjab Kings
123,123,Marcus Stoinis,Draft Pick,ALL-ROUNDER,9.20,1196.00,DC,Lucknow Super Giants
124,124,Jason Holder,1.5 Cr,ALL-ROUNDER,8.75,1137.50,SRH,Lucknow Super Giants
125,125,Krunal Pandya,2 Cr,ALL-ROUNDER,8.25,1072.50,MI,Lucknow Super Giants
128,128,Deepak Hooda,75 Lakh,ALL-ROUNDER,5.75,747.50,PBKS,Lucknow Super Giants
133,133,K. Gowtham,50 Lakh,ALL-ROUNDER,0.90,117.00,CSK,Lucknow Super Giants
146,146,Tim David,40 Lakh,ALL-ROUNDER,8.25,1072.50,RCB,Mumbai Indians
147,147,Jofra Archer,2 Cr,ALL-ROUNDER,8.00,1040.00,RR,Mumbai Indians
149,149,Kieron Pollard,Retained,ALL-ROUNDER,6.00,780.00,MI,Mumbai Indians
151,151,Daniel Sams,1 Cr,ALL-ROUNDER,2.60,338.00,RCB,Mumbai Indians
160,160,Arjun Tendulkar,20 Lakh,ALL-ROUNDER,0.30,39.00,MI,Mumbai Indians
169,169,Glenn Maxwell,Retained,ALL-ROUNDER,11.00,1430.00,RCB,Royal Challengers Bangalore
170,170,Wanindu Hasaranga,1 Cr,ALL-ROUNDER,10.75,1397.50,RCB,Royal Challengers Bangalore
171,171,Harshal Patel,2 Cr,ALL-ROUNDER,10.75,1397.50,RCB,Royal Challengers Bangalore
177,177,Shahbaz Ahamad,30 Lakh,ALL-ROUNDER,2.40,312.00,RCB,Royal Challengers Bangalore
180,180,Mahipal Lomror,40 Lakh,ALL-ROUNDER,0.95,123.50,RR,Royal Challengers Bangalore
185,185,Suyash Prabhudessai,20 Lakh,ALL-ROUNDER,0.30,39.00,RCB,Royal Challengers Bangalore
197,197,R. Ashwin,2 Cr,ALL-ROUNDER,5.00,650.00,DC,Rajasthan Royals
199,199,Riyan Parag,30 Lakh,ALL-ROUNDER,3.80,494.00,RR,Rajasthan Royals
202,202,James Neesham,1.5 Cr,ALL-ROUNDER,1.50,195.00,MI,Rajasthan Royals
216,216,Washington Sundar,1.5 Cr,ALL-ROUNDER,8.75,1137.50,RCB,Sunrisers Hyderabad
219,219,Abhishek Sharma,20 Lakh,ALL-ROUNDER,6.50,845.00,SRH,Sunrisers Hyderabad
220,220,Marco Jansen,50 Lakh,ALL-ROUNDER,4.20,546.00,MI,Sunrisers Hyderabad
223,223,Abdul Samad,Retained,ALL-ROUNDER,4.00,520.00,SRH,Sunrisers Hyderabad

In [48]:
#here we are listing all the players based on their Squad
df_no_nan[(df_no_nan["2021_squad"] =="MI") & (df_no_nan["Team"] =="Mumbai Indians")]

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
143,143,Rohit Sharma,Retained,BATTER,160000000.00,2080000000.00,MI,Mumbai Indians
144,144,Ishan Kishan,2 Cr,WICKETKEEPER,152500000.00,1982500000.00,MI,Mumbai Indians
145,145,Jasprit Bumrah,Retained,BOWLER,120000000.00,1560000000.00,MI,Mumbai Indians
148,148,Suryakumar Yadav,Retained,BATTER,80000000.00,1040000000.00,MI,Mumbai Indians
149,149,Kieron Pollard,Retained,ALL-ROUNDER,60000000.00,780000000.00,MI,Mumbai Indians
160,160,Arjun Tendulkar,20 Lakh,ALL-ROUNDER,3000000.00,39000000.00,MI,Mumbai Indians
162,162,Anmolpreet Singh,20 Lakh,BATTER,2000000.00,26000000.00,MI,Mumbai Indians

In [30]:
#here we are listing all the players based on their team
df_no_nan[(df_no_nan["Team"] =="Mumbai Indians")].sort_values(['Player'], ascending=True)

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
162,162,Anmolpreet Singh,20 Lakh,BATTER,0.20,26.00,MI,Mumbai Indians
160,160,Arjun Tendulkar,20 Lakh,ALL-ROUNDER,0.30,39.00,MI,Mumbai Indians
161,161,Basil Thampi,30 Lakh,BOWLER,0.30,39.00,SRH,Mumbai Indians
151,151,Daniel Sams,1 Cr,ALL-ROUNDER,2.60,338.00,RCB,Mumbai Indians
144,144,Ishan Kishan,2 Cr,WICKETKEEPER,15.25,1982.50,MI,Mumbai Indians
145,145,Jasprit Bumrah,Retained,BOWLER,12.00,1560.00,MI,Mumbai Indians
155,155,Jaydev Unadkat,75 Lakh,BOWLER,1.30,169.00,RR,Mumbai Indians
147,147,Jofra Archer,2 Cr,ALL-ROUNDER,8.00,1040.00,RR,Mumbai Indians
149,149,Kieron Pollard,Retained,ALL-ROUNDER,6.00,780.00,MI,Mumbai Indians
158,158,Mayank Markande,50 Lakh,BOWLER,0.65,84.50,RR,Mumbai Indians
153,153,Murugan Ashwin,20 Lakh,BOWLER,1.60,208.00,PBKS,Mumbai Indians
156,156,Riley Meredith,1 Cr,BOWLER,1.00,130.00,PBKS,Mumbai Indians
143,143,Rohit Sharma,Retained,BATTER,16.00,2080.00,MI,Mumbai Indians
148,148,Suryakumar Yadav,Retained,BATTER,8.00,1040.00,MI,Mumbai Indians
146,146,Tim David,40 Lakh,ALL-ROUNDER,8.25,1072.50,RCB,Mumbai Indians

In [53]:
#here we have replaced the jersey number of dhoni from 24 to 7
df_no_nan[(df_no_nan["2021_squad"]=="CSK") & (df_no_nan["Team"]=="Chennai Super Kings")].sort_values(['cost_INR'], ascending=False).replace({'base_price':{'MS Dhoni':'MS Anand'}})

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
22,22,Ravindra Jadeja,Retained,ALL-ROUNDER,160000000.00,2080000000.00,CSK,Chennai Super Kings
23,23,Deepak Chahar,2 Cr,BOWLER,140000000.00,1820000000.00,CSK,Chennai Super Kings
24,24,MS Anand,Retained,WICKETKEEPER,120000000.00,1560000000.00,CSK,Chennai Super Kings
25,25,Moeen Ali,Retained,ALL-ROUNDER,80000000.00,1040000000.00,CSK,Chennai Super Kings
26,26,Ambati Rayudu,2 Cr,WICKETKEEPER,67500000.00,877500000.00,CSK,Chennai Super Kings
27,27,Ruturaj Gaikwad,Retained,BATTER,60000000.00,780000000.00,CSK,Chennai Super Kings
28,28,Dwayne Bravo,2 Cr,ALL-ROUNDER,44000000.00,572000000.00,CSK,Chennai Super Kings
31,31,Robin Uthappa,2 Cr,BATTER,20000000.00,260000000.00,CSK,Chennai Super Kings
32,32,Mitchell Santner,1 Cr,ALL-ROUNDER,19000000.00,247000000.00,CSK,Chennai Super Kings
39,39,K.Bhagath Varma,20 Lakh,ALL-ROUNDER,2000000.00,26000000.00,CSK,Chennai Super Kings
41,41,N. Jagadeesan,20 Lakh,WICKETKEEPER,2000000.00,26000000.00,CSK,Chennai Super Kings
42,42,C.Hari Nishaanth,20 Lakh,BATTER,2000000.00,26000000.00,CSK,Chennai Super Kings
43,43,K.M. Asif,20 Lakh,BOWLER,2000000.00,26000000.00,CSK,Chennai Super Kings

In [58]:
df_no_nan.at[24,'base_price']='20 Cr'
df_no_nan[0:24]

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,150000000.00,1950000000.00,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,150000000.00,1950000000.00,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,100000000.00,1300000000.00,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,90000000.00,1170000000.00,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,80000000.00,1040000000.00,KKR,Gujarat Titans
5,5,Mohammad Shami,2 Cr,BOWLER,62500000.00,812500000.00,PBKS,Gujarat Titans
7,7,David Miller,1 Cr,BATTER,30000000.00,390000000.00,RR,Gujarat Titans
8,8,R. Sai Kishore,20 Lakh,BOWLER,30000000.00,390000000.00,CSK,Gujarat Titans
12,12,Jason Roy,2 Cr,BATTER,20000000.00,260000000.00,SRH,Gujarat Titans
13,13,Wriddhiman Saha,1 Cr,WICKETKEEPER,19000000.00,247000000.00,SRH,Gujarat Titans
14,14,Jayant Yadav,1 Cr,ALL-ROUNDER,17000000.00,221000000.00,MI,Gujarat Titans
15,15,Vijay Shankar,50 Lakh,ALL-ROUNDER,14000000.00,182000000.00,SRH,Gujarat Titans
16,16,Dominic Drakes,75 Lakh,ALL-ROUNDER,11000000.00,143000000.00,CSK,Gujarat Titans
18,18,Gurkeerat Singh,50 Lakh,ALL-ROUNDER,5000000.00,65000000.00,KKR,Gujarat Titans
20,20,Darshan Nalkande,20 Lakh,ALL-ROUNDER,2000000.00,26000000.00,PBKS,Gujarat Titans
22,22,Ravindra Jadeja,Retained,ALL-ROUNDER,160000000.00,2080000000.00,CSK,Chennai Super Kings
23,23,Deepak Chahar,2 Cr,BOWLER,140000000.00,1820000000.00,CSK,Chennai Super Kings
24,24,MS Dhoni,20 Cr,WICKETKEEPER,120000000.00,1560000000.00,CSK,Chennai Super Kings
25,25,Moeen Ali,Retained,ALL-ROUNDER,80000000.00,1040000000.00,CSK,Chennai Super Kings
26,26,Ambati Rayudu,2 Cr,WICKETKEEPER,67500000.00,877500000.00,CSK,Chennai Super Kings
27,27,Ruturaj Gaikwad,Retained,BATTER,60000000.00,780000000.00,CSK,Chennai Super Kings
28,28,Dwayne Bravo,2 Cr,ALL-ROUNDER,44000000.00,572000000.00,CSK,Chennai Super Kings
29,29,Shivam Dube,50 Lakh,ALL-ROUNDER,40000000.00,520000000.00,RR,Chennai Super Kings
30,30,Chris Jordan,2 Cr,ALL-ROUNDER,36000000.00,468000000.00,PBKS,Chennai Super Kings

In [68]:
df_no_nan.iloc[17,3] = 'CAPTAIN'
df_no_nan[:25]

,jersey_number,Player,base_price,TYPE,cost_INR,cost_USD,2021_squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,150000000.00,1950000000.00,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,150000000.00,1950000000.00,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,100000000.00,1300000000.00,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,90000000.00,1170000000.00,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,80000000.00,1040000000.00,KKR,Gujarat Titans
5,5,Mohammad Shami,2 Cr,BOWLER,62500000.00,812500000.00,PBKS,Gujarat Titans
7,7,David Miller,1 Cr,BATTER,30000000.00,390000000.00,RR,Gujarat Titans
8,8,R. Sai Kishore,20 Lakh,BOWLER,30000000.00,390000000.00,CSK,Gujarat Titans
12,12,Jason Roy,2 Cr,BATTER,20000000.00,260000000.00,SRH,Gujarat Titans
13,13,Wriddhiman Saha,1 Cr,WICKETKEEPER,19000000.00,247000000.00,SRH,Gujarat Titans
14,14,Jayant Yadav,1 Cr,ALL-ROUNDER,17000000.00,221000000.00,MI,Gujarat Titans
15,15,Vijay Shankar,50 Lakh,ALL-ROUNDER,14000000.00,182000000.00,SRH,Gujarat Titans
16,16,Dominic Drakes,75 Lakh,ALL-ROUNDER,11000000.00,143000000.00,CSK,Gujarat Titans
18,18,Gurkeerat Singh,50 Lakh,ALL-ROUNDER,5000000.00,65000000.00,KKR,Gujarat Titans
20,20,Darshan Nalkande,20 Lakh,ALL-ROUNDER,2000000.00,26000000.00,PBKS,Gujarat Titans
22,22,Ravindra Jadeja,Retained,ALL-ROUNDER,160000000.00,2080000000.00,CSK,Chennai Super Kings
23,23,Deepak Chahar,2 Cr,BOWLER,140000000.00,1820000000.00,CSK,Chennai Super Kings
24,24,MS Dhoni,20 Cr,CAPTAIN,120000000.00,1560000000.00,CSK,Chennai Super Kings
25,25,Moeen Ali,Retained,ALL-ROUNDER,80000000.00,1040000000.00,CSK,Chennai Super Kings
26,26,Ambati Rayudu,2 Cr,WICKETKEEPER,67500000.00,877500000.00,CSK,Chennai Super Kings
27,27,Ruturaj Gaikwad,Retained,BATTER,60000000.00,780000000.00,CSK,Chennai Super Kings
28,28,Dwayne Bravo,2 Cr,ALL-ROUNDER,44000000.00,572000000.00,CSK,Chennai Super Kings
29,29,Shivam Dube,50 Lakh,ALL-ROUNDER,40000000.00,520000000.00,RR,Chennai Super Kings
30,30,Chris Jordan,2 Cr,ALL-ROUNDER,36000000.00,468000000.00,PBKS,Chennai Super Kings
31,31,Robin Uthappa,2 Cr,CAPTAIN,20000000.00,260000000.00,CSK,Chennai Super Kings

In [106]:
# values between 10 to 20 rows and selected columns
# df.iloc[row_index(compulsory),column_index(optional)]
# range [first_count:last_count]

#here we are getting the entire details of a particular player based on the row index
df_no_nan.iloc[24,:]

jersey_number                     31
Player                 Robin Uthappa
base_price                      2 Cr
TYPE                         CAPTAIN
cost_INR                 20000000.00
cost_USD                260000000.00
2021_squad                       CSK
Team             Chennai Super Kings
Name: 31, dtype: object

In [105]:
# here we are assigning the iloc values to a variable and using that variable we have changed a value in the desired location
test = df.iloc[10:21,2:6]
test.at[12,'TYPE'] = 'CAPTAIN'
test

   base_price          TYPE    cost_INR     cost_USD
10       2 Cr  WICKETKEEPER 24000000.00 312000000.00
11    75 Lakh        BOWLER 24000000.00 312000000.00
12       2 Cr       CAPTAIN 20000000.00 260000000.00
13       1 Cr  WICKETKEEPER 19000000.00 247000000.00
14       1 Cr   ALL-ROUNDER 17000000.00 221000000.00
15    50 Lakh   ALL-ROUNDER 14000000.00 182000000.00
16    75 Lakh   ALL-ROUNDER 11000000.00 143000000.00
17    50 Lakh        BOWLER  5000000.00  65000000.00
18    50 Lakh   ALL-ROUNDER  5000000.00  65000000.00
19    30 Lakh        BOWLER  3000000.00  39000000.00
20    20 Lakh   ALL-ROUNDER  2000000.00  26000000.00